
.animateOpen {
    animation: animationOpen 0.5s ease 0s 1 normal forwards;
}
.animateExit {
  animation: animationExit 0.5s cubic-bezier(0.37, 0, 0.63, 1) 0s 1 normal none;
  background-color: #002868;
}

@keyframes animationOpen {
  0% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: rotate(-540deg) scale(0);
  }
}
@keyframes animationExit {
  0% {
    opacity: 0;
    transform: rotate(-540deg) scale(2);
  }

  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}

.chatbot-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
}

.chat-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #002868;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}

  .chat-button:hover {
    transform: scale(1.1);
  }

.chat-window {
  background-color: white;
  margin: 0;
  position: fixed;
  bottom: 90px;
  right: 10px;
  width: 350px;
  height: 450px;
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}


.chat-header {
  background: #002868;
  padding: 15px;
  border-radius: 16px 16px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
}

  .chat-header h3 {
    color: white;
    margin: 0;
    font-size: 18px;
  }

.close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
}

.chat-body {
  padding: 15px;
  flex: 1;
  overflow-y: auto;
  background: #f5f5f5;
}

.message {
  margin-bottom: 12px;
  padding: 10px 14px;
  border-radius: 12px;
  max-width: 80%;
  word-wrap: break-word;
}

.user-message {
  background: #778FB5;
  color: white;
  margin-left: auto;
  text-align: right;
  white-space: pre-line;
}

.bot-message {
  background: white;
  color: #333;
  margin-right: auto;
}

.chat-input {
  display: flex;
  padding: 12px;
  background: white;
  border-top: 1px solid #e0e0e0;
  border-radius: 0 0 16px 16px;
  gap: 8px;
}

.input-field {
  flex: 1;
  background: #f9f9f9;
  padding: 10px 14px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
}

  .input-field:focus {
    border-color: #667eea;
  }

.send-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FBC621;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .send-btn:hover {
    opacity: 0.9;
  }
