.chat-menu-button {
  background-color: #002868;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.chat-menu-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.chat-menu-container li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.chat-menu-container li:hover {
    background-color: #f0f0f0;
}
